.products {
    padding:120px;
    color:gray;
    background-color: rgb(245, 245, 245);


    h2 {
        margin:20px;
        font-weight: 250;
        font-size: 40px;
    }

    h3 {
        font-weight: 350;
        margin-top: 5px;
        font-size: 19px;
    }

    &__btn {
        color:white;
        background-color: rgb(0, 102, 255);
        border-radius: 5px;
        padding:10px 17px 10px;
        margin-top:40px;
        border: none;
        cursor: pointer;
        transition:all 0.4s ;
    
        &:hover {
            transform: translate(0.5px,-0.5px);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}