.App {
  text-align: center;


  
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
  transition: all 1s ease-in-out;
}

.section--visible {
  opacity: 1;
  transform: translateY(0rem);
  transition: all 1s ease-in-out;
}
