*{
  margin:0;
}

body {
  margin: 0;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400&display=swap');
font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Libre Franklin', sans-serif,
    monospace;
}




